extends layout/mainboard.pug 

block content
	.container
		.attributes
			h1 Attributes
			h2
			| GameOn is thankful to the following creators for license and use of their resources
			br
			p
			| Icons made by 
			a(href='https://www.flaticon.com/authors/those-icons', title='Those Icons') Those Icons
			|  from 
			a(href='https://www.flaticon.com/', title='Flaticon')  www.flaticon.com
			br
			p
			| Icons made by 
			a(href='https://www.flaticon.com/authors/freepik', title='Freepik') Freepik
			|  from 
			a(href='https://www.flaticon.com/', title='Flaticon')  www.flaticon.com
			br
			p
			| Icons made by 
			a(href='https://www.flaticon.com/packs/seo-and-online-marketing-18', title='Seo and Online Marketing') Seo And Online Marketing
			|  from 
			a(href='https://www.flaticon.com/', title='Flaticon')  www.flaticon.com
			br
			p
			| Icons made by 
			a(href='https://www.flaticon.com/authors/inipagistudio', title='Inipagistudio Blue') Inipagiostudio Blue
			|  from 
			a(href='https://www.flaticon.com/', title='Flaticon')  www.flaticon.com
