extends layout/mainboard.pug 

block content
	.lboxcontainer
		.loginbox
			form.login(action='#', method='#')
			h1 Password Reset
			p
				| To help us reset your password, please enter the email address associated with your account below
			.logincontainer
				label.loginform(for='uname')
				b Username
				input(type='text', placeholder='Enter Username', name='uname', required='')
				button.loginform(type='submit') Send Reset Email
				span.psw If you need further help, click on live chat to talk to our team