// Footer
.footercontainer
    footer#footer
        a(href='https://game-on.uk')
            img.footerlogo(src='/img/logo.png', alt='logo')
        ul.copyright
            li.copyright
                a.copyright(href='/dashboard/attributes') Attributes
            li.copyright
                p.copyright Copyright GameOn Ltd
// Footer End