// Header and Navigation
header#header
  .header
    nav(role='full-horizontal')
      a(href='/dashboard')
        img.logo(src='/img/logo.png')
      .nav
        ul.nav
          li
            a(href='/dashboard/login') Login
          