#change-email(title='Change Email')
  form
    fieldset
      label(for='email') New Email
      input#email.text.ui-widget-content.ui-corner-all(type='text' name='email' required='true')
      label(for='confirm') Confirm Email
      input#confirm.text.ui-widget-content.ui-corner-all(type='text' name='email-confirm' required="true")
      //  Allow form submission with keyboard without duplicating the dialog button 
      input(type='submit' tabindex='-1' style='position:absolute; top:-1000px')