#change-password(title='Change Password')
  form
    fieldset
      label(for='current') Current Password
      input#current.text.ui-widget-content.ui-corner-all(type='text' name='current' required='true')
      label(for='password') New Password
      input#password.text.ui-widget-content.ui-corner-all(type='password' name='password' required='true')
      label(for='confirm') Confirm Password
      input#confirm.text.ui-widget-content.ui-corner-all(type='password' name='confirm' required="true")
      //  Allow form submission with keyboard without duplicating the dialog button 
      input(type='submit' tabindex='-1' style='position:absolute; top:-1000px')